
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
div{
    background-color: black;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    min-width: 300px;
    max-width: 300px;
    border-radius: 5px;
    margin: 20px 5px;
}

#increment {
    background: darkred;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px;
}
#save-btn{
    background: green;
    margin-top: 0;
    margin-bottom:20px;
    margin-left: 20px;
    margin-right: 20px;
}
#save-el{
    font-size: 16px;
    font-weight: 400;
}